
.product-list-item {  
  padding: 10px;  
  margin: 10px;  
  background-color: #CC6500;  
  color: #FFF;  

}

.shopping-cart-item {  
  padding: 10px;  
  margin: 10px;  
  color: #FFF;  
  background-color: #FF9C00;  
  display: flex;
  flex-direction: column;  
}
.shopping-cart-item div {  
  margin: 5px;  
}
.shopping-cart-total {  
  padding: 10px;  
  margin: 10px;  
  color: #654321;  
  border: 1px solid #FF9C00;  
}
